.leaflet-marker-icon.positioned {
  filter: none;
}

.leaflet-marker-icon.dirty {
  filter: grayscale(100%);
}

.leaflet-marker-icon.unpositioned {
  filter: grayscale(100%);
}

.ap-online {
  filter: none;
}

.ap-offline {
  filter: none;
}

.mesh-online {
  filter: none;
}

.mesh-offline {
  filter: none;
}

.dark .leaflet-layer,
.dark .leaflet-control-zoom-in,
.dark .leaflet-control-zoom-out,
.dark .leaflet-control-attribution {
  filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
}
.dark .leaflet-container {
  background: #000
}
